{% extends "base.html" %}
{% block body %}
  <div class="header">
    <video class="background" autoplay poster="/static/img/placeholder1.png" id="bgvid">
      <source src="http://ak8.picdn.net/shutterstock/videos/4500683/preview/stock-footage-young-people-in-the-kitchen-prepare-for-a-party-friends-cooking-and-preparing-food-together.webm" type="video/webm">
    </video>
    <div class="background overlay">
    </div>
    <div class="header-inner">
      <div class="logo">
         <img src="/static/img/logo_white.png" alt="Crybb" style="width:150px">
      </div>
      <div class="message-container">
        <div class="message">
          <h1 class="text">
           Find flatmates through friends in London 
          </h1>
          <div class="buttons">
            <div class="button-container">
              <div class="primary button login">
                Sign Up 
              </div>
            </div>
            <div class="button-container">
              <div class="secondary button login">
                Log In
              </div>
            </div>
          </div>
          <p class="subtext">
          Not in <b>London</b>? <a href="#" data-reveal-id="myModal">Request your city</a>
          </p>
          <div id="myModal" class="reveal-modal" data-reveal>
            <form>
                 <div class="row">
                    <div class="small-12 columns">
                      <label>Start typing to select your city...</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="small-10 columns">
                      <input type="text" placeholder="New York" list="cities">
                    </div>
                    <datalist id="cities">
                      <option value="Amsterdam">
                      <option value="Ankara">
                      <option value="Athens">
                      <option value="Atlantic City">
                      <option value="Baltimore">
                      <option value="Bangkok">
                      <option value="Beijing">
                      <option value="Berlin">
                      <option value="Berne">
                      <option value="Brussels">
                      <option value="Budapest">
                      <option value="Buenos Aires">
                      <option value="Cairo">
                      <option value="Canberra">
                      <option value="Cannes">
                      <option value="Cape Town">
                      <option value="Chicago">
                      <option value="Cologne">
                      <option value="Copenhagen">
                      <option value="Damascus">
                      <option value="Delhi">
                      <option value="Dubai City">
                      <option value="Dublin">
                      <option value="Florence">
                      <option value="Genève">
                      <option value="Ha Noi">
                      <option value="Hague">
                      <option value="Havana">
                      <option value="Helsinki">
                      <option value="Hong Kong">
                      <option value="Honolulu">
                      <option value="Istanbul">
                      <option value="Jakarta">
                      <option value="Jerusalem">
                      <option value="Kansas City">
                      <option value="Kathmandu">
                      <option value="Kuala Lumpur">
                      <option value="Lisbon">
                      <option value="London">
                      <option value="Los Angeles">
                      <option value="Luxembourg">
                      <option value="Madrid">
                      <option value="Manila">
                      <option value="Melbourne">
                      <option value="Mexico City">
                      <option value="Milan">
                      <option value="Montreal">
                      <option value="Moscow">
                      <option value="Mumbai">
                      <option value="Munich">
                      <option value="Nazareth">
                      <option value="New York">
                      <option value="Nice">
                      <option value="Osaka">
                      <option value="Oslo">
                      <option value="Ottawa">
                      <option value="Paris">
                      <option value="Philadelphia">
                      <option value="Phnom Penh">
                      <option value="Prague">
                      <option value="Quito">
                      <option value="Reykjavík">
                      <option value="Rio de Janeiro">
                      <option value="Saint-Petersburg">
                      <option value="San Francisco">
                      <option value="Santa Fe">
                      <option value="Santiago">
                      <option value="São Paulo">
                      <option value="Shanghai">
                      <option value="Singapore City">
                      <option value="Stockholm">
                      <option value="Sydney">
                      <option value="Taipei">
                      <option value="Tokyo">
                      <option value="Toronto">
                      <option value="Venice">
                      <option value="Vienna">
                      <option value="Washington">
                      <option value="Zürich">
                    </datalist>

                  <div class="small-2 columns">
                    <a href="#" class="button postfix submit">Submit</a>
                  </div>
                 </div>
            </form>
 
            <a class="close-reveal-modal">&#215;</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="spaced-row">
    <div class="large-12 columns">
      <h2>Crybb is a social flatsharing platform</br>that links <span class="facebook">facebook</span> to help you find flatmates</br>through mutual friends</h2>
    </div>
  </div>

  <div class="spaced-row">
    <div class="medium-4 columns">
      <img class="center-img round-img top" src="/static/img/placeholder1.png"/>
      <p> Discover rooms to rent 
      within your social network. </p>
    </div>
    <div class="medium-4 columns">
      <img class="center-img round-img top" src="/static/img/placeholder1.png"/>
      <p> Let friends recommend 
      potential flatmates. </p>
    </div>
    <div class="medium-4 columns">
      <img class="center-img round-img top" src="/static/img/placeholder1.png"/>
      <p> Meet the perfect person 
      To make your house a home. </p>
    </div>
  </div>

  <div class="spaced-row">
    <hr/>
  </div>

  <div class="spaced-row">
    <div class="large-12 columns">
      <h2>Get earlier access to the beta by inviting yout friends
    into the community. The more friends you invite
  the sooner you'll get access.</h2>
    </div>
  </div>
  
  <div class="spaced-row">
    <hr/>
  </div>

  <div class="spaced-row">
    <div class="side-image">
      <img class="center-img round-img side" src="/static/img/placeholder1.png"/>
    </div>
    <div class="center-text">
      <h3>We're working hard to get the beta version ready for you as soon as 
        possible. Sign up to be the first to know when we reach our next milestones!  </h3>
    </div>
  </div>

  <div class="footer">
    <div class="row">
      <p class="follow">
        Follow us on
      </p>
    </div>
    <div class="row">
      <div class="social-container">
        <img class="social-img" src="/static/img/placeholder1.png"/>
        <img class="social-img" src="/static/img/placeholder1.png"/>
      </div>
    </div>
    <div class="row">
      <p class="copyright">
        Copyright &copy; 2014 Crybb. All rights reserved.
      </p>
    </div>
  </div>

  <script src="/static/bower_components/foundation/js/foundation.min.js"></script>
  <script src="/static/js/app.js"></script>
  <script>
    $(document).ready(function() {
      var bordered = false;
      $('body').keydown(function(event) {
        if ( event.which === 13 ) {
          event.preventDefault();
          if ( bordered ) {
            $('div, p, img, h1, h2, h3').removeClass('bordered');
          } else {
            $('div, p, img, h1, h2, h3').addClass('bordered');
          }
          bordered = !bordered;
        }
      });
    });
  </script>
    
  <script>      
    videoPlayer =  document.getElementById('bgvid');
    videoPlayer.addEventListener('ended', next, false);
    var videoSource = new Array();
    videoSource[1]="/static/vid/placeholder2.webm";
    videoSource[0]="http://ak8.picdn.net/shutterstock/videos/4500683/preview/stock-footage-young-people-in-the-kitchen-prepare-for-a-party-friends-cooking-and-preparing-food-together.webm";
    var i = 0;
    function next() {
      i++;
      if (i == 2) {
        i = 0;
      };
      videoPlayer.src = videoSource[i];
      videoPlayer.play();
    }
  </script>

 {% endblock %}
