{% extends "base.html" %}

{% block body %}    
<h1> crybb | landing </h1>
    <br><br>
    {% for flash in flashes %}
    <p> {{ flash }} </p>
    {% endfor %}
    <a href="{{ redirect_url }}"> I'm in </a>
    <form method="get" action="{{ redirect_url }}" id="emailSubmit"> 
    sign up for beta <br>
            <select name="location">
                    <option value="london" selected >london</option>
                    <option value="munich">munich</option>
                    <option value="newyork">new york</option>
                    <option value="paris">paris</option>
                    <option value="stockholm">stockholm</option>
            </select>
<input type="hidden" name="refereeID" value={{refereeID}}>
<input type="submit" value="I'm in"> 
    </form>
<div id="status">
</div>
{% endblock %}
