<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crybb</title>
    <link rel="stylesheet" href="/static/stylesheets/app.css" />
    <script src="/static/bower_components/modernizr/modernizr.js"></script>
  </head>
  <body>

    <div class="header">
      <video autoplay poster="/static/img/placeholder1.png" id="bgvid">
	<source src="http://ak8.picdn.net/shutterstock/videos/4500683/preview/stock-footage-young-people-in-the-kitchen-prepare-for-a-party-friends-cooking-and-preparing-food-together.webm" type="video/webm">
      </video>
      <div class="header-inner">
        <div class="logo center-img">
           <img src="/static/img/logo_white.png" alt="Crybb" style="width:200px">
        </div>
        <div class="message-container">
          <div class="message">
            <h1 class="text">
             Find flatmates through friends in London 
            </h1>
            <div class="buttons">
              <div class="button-container">
                <div class="primary button">
                  Sign Up 
                </div>
              </div>
              <div class="button-container">
                <div class="secondary button">
                  Log In
                </div>
              </div>
            </div>
            <p class="subtext">
            Not in <b>London</b>? <a href="http://www.yahoo.com">Request your city</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="spaced-row">
      <div class="large-12 columns">
        <h2>Crybb is a social flatsharing platform</br>that links <span class="facebook">facebook</span> to help you find flatmates</br>through mutual friends</h2>
      </div>
    </div>

    <div class="spaced-row">
      <div class="medium-4 columns">
        <img class="center-img round-img top" src="/static/img/placeholder1.png"/>
        <p> Discover rooms to rent 
        within your social network. </p>
      </div>
      <div class="medium-4 columns">
        <img class="center-img round-img top" src="/static/img/placeholder1.png"/>
        <p> Let friends recommend 
        potential flatmates. </p>
      </div>
      <div class="medium-4 columns">
        <img class="center-img round-img top" src="/static/img/placeholder1.png"/>
        <p> Meet the perfect person 
        To make your house a home. </p>
      </div>
    </div>

    <div class="spaced-row">
      <hr/>
    </div>

    <div class="spaced-row">
      <div class="large-12 columns">
        <h2>Move up the queue to get earlier access to the beta site by 
        inviting at least 3 of your friends into the community. The more
      people you invite, the sooner you'll get access!</h2>
      </div>
    </div>
    
    <div class="spaced-row">
      <hr/>
    </div>

    <div class="spaced-row">
      <div class="side-image">
        <img class="center-img round-img side" src="/static/img/placeholder1.png"/>
      </div>
      <div class="center-text">
        <h3>We're working hard to get the beta version ready for you as soon as 
          possible. Sign up to be the first to know when we reach our next milestones!  </h3>
      </div>
    </div>

    <div class="footer">
      <div class="row">
        <p class="follow">
          Follow us on
        </p>
      </div>
      <div class="row">
        <div class="social-container">
          <img class="social-img" src="/static/img/placeholder1.png"/>
          <img class="social-img" src="/static/img/placeholder1.png"/>
        </div>
      </div>
      <div class="row">
        <p class="copyright">
          Copyright &copy; 2014 Crybb. All rights reserved.
        </p>
      </div>
    </div>


    <script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/static/bower_components/foundation/js/foundation.min.js"></script>
    <script src="/static/js/app.js"></script>
    <script>
      $(document).ready(function() {
        var bordered = false;
        $('body').keydown(function(event) {
          if ( event.which === 13 ) {
            event.preventDefault();
            if ( bordered ) {
              $('div, p, img, h1, h2, h3').removeClass('bordered');
            } else {
              $('div, p, img, h1, h2, h3').addClass('bordered');
            }
            bordered = !bordered;
          }
        });
      });
    </script>
      
    <script>      
      videoPlayer =  document.getElementById('bgvid');
      videoPlayer.addEventListener('ended', next, false);
      var videoSource = new Array();
      videoSource[1]="/static/vid/placeholder2.webm";
      videoSource[0]="http://ak8.picdn.net/shutterstock/videos/4500683/preview/stock-footage-young-people-in-the-kitchen-prepare-for-a-party-friends-cooking-and-preparing-food-together.webm";
      var i = 0;
      function next() {
        i++;
        if (i == 2) {
          i = 0;
        };
        videoPlayer.src = videoSource[i];
        videoPlayer.play();
      }
    </script>
    

  </body>
</html>
