@import "settings";
@import "foundation";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,600);

@mixin vertical-center() {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

@mixin full-grey() {
  background-color: grey;
  color: #FFFFFF;
}


//For debug only:
.bordered {
  border-style: dashed;
  border-color: red;
  border-width: 1px;
}
//End debug

p {
  text-align: center;
  font-size: 18px;
  margin-bottom: 0;
  font-family: 'Open Sans', sans-serif;
}


//////////////////////////////////////////////////
//Header style
//////////////////////////////////////////////////
.header {
  position: relative;
  padding: 10px;
  overflow: hidden;
}

.logo {
  padding-top: 0px;
}

.background {
  position: absolute; left: 0; top: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto;
  z-index: -100;
}

.overlay {
  background-color: black;
  opacity: 0.4;
}

.message-container {
  height: 25em;
  position: relative;
}

.message {
  @include vertical-center();
}

.buttons {
  @include grid-row();
  max-width: 450px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.button-container {
  @media #{$medium-up} {
    @include grid-column($columns:6);
  }
  @media #{$small-only} {
    @include grid-column(12);
  }
}

.button {
  min-width: 200px;
  max-width: 700px;
  margin-bottom: 0;
  border-color: #FFFFFF;
  border-style: solid;
  border-width: 2px;
  border-radius: 2px;
}

.button.primary {
  background-color: #95c221;
  color: white;
  border-color: #95c221;
}

.button.primary:hover,
.button.primary:focus {
  @extend .button.primary;
  background-color: #b9b9b9;
  border-color: #b9b9b9;
}

.button.secondary {
  background-color: transparent;
  color: white;
}

.button.secondary:hover,
.button.secondary:focus {
  @extend .button.secondary;
}

h1 {
  font-size: 36px;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
}

.subtext {
    font-size: 16px;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
}

.facebook {
    font-weight: bold;
    color: #4c66a4;
  }

a {
    color: #FFFFFF;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
    color: #FFFFFF;
}

//////////////////////////////////////////////////
// Body
//////////////////////////////////////////////////
.spaced-row {
  @include grid-row();
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 0;
}

h2, h3 {
  font-size: 24px;
  font-style: normal;
  color: #333333;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.round-img.top {
  margin-bottom: 20px;
}

.center-img {
  margin: auto;
  width: 200px;
  display: block;
}

.side-image {
  @include grid-column($columns:12, $float:none);
  @media #{$medium-up} {
    @include grid-column($columns:4, $float:none);
  }
  display: inline-block;
  vertical-align: middle;
}

.center-text {
  @include grid-column($columns:12, $float:none);
  @media #{$medium-up} {
    @include grid-column($columns:8, $float:none);
  }
  display: inline-block;
  vertical-align: middle;
}

.side-image.swap {
  @media #{$medium-up} {
    @include grid-column($columns:4, $push:8, $float:none);
  }
}

.round-img.side {
  margin-top: 20px;
  margin-bottom: 20px;
}

.center-text.swap {
  @media #{$medium-up} {
    @include grid-column($columns:8, $pull:4, $float:none);
  }
}

h3 {
  text-align: left;
}


//////////////////////////////////////////////////
//Footer style
//////////////////////////////////////////////////

.footer {
  background-color: #95c221; 
  position: relative;
  color: white;
  text-align: center;
}

p.follow {
  display: inline-block;
  margin-top: 30px;
  font-weight: bold;
}

.social-container {
  display: inline-block;
}

.social-img {
  margin-top: 25px;
  margin-bottom: 60px;
  margin-right: 5px;
  margin-left: 5px;
  width: 40px;
}



.copyright {
  margin-bottom: 20px;
}

p.copyright {
  font-size: 14px;
}
